* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  h2{
    font-size: larger;
    color: #f5ac0f;
  }
  
  #about{
    height: 100vh;
    background-color: #f34dd5;
  }
  #career{
    height: 100vh;
    background-color: #06fe40;
  }
  #contact{
    height: 100vh;
    background-color: #04f9cc;
  }
  #home{
    height: 100vh;
    background-color: #ff7300;
  }